<div class="footer-container">
      <div class="w-hidden-medium w-hidden-small w-hidden-tiny" data-ix="animation-welcome-2">
        <div class="info-button-wrapper no-margin">
          <div data-ix="animation-text-5" class="info-button livegang">{{ texts.32540ead }}</div>
        </div>
      </div>
      <div class="footer-meta-wrapper" data-ix="animation-welcome-3">
        <div class="info-button-wrapper">
          <div data-ix="animation-text-5" class="info-button">
            <a href="{{ links.-2e8aead8 }}" aria-current="page" class="link w--current">{{ texts.6f6b7057 }}</a>
          </div>
        </div>
        <div class="info-button-wrapper">
          <div data-ix="animation-text-5" class="info-button w-hidden-tiny">{{ texts.-6a1c5ea6 }}</div>
        </div>
      </div>
    </div>